body{
    background-color: grey;
}
.container{
    font-weight: bold;
    text-align: center;
    color: #4ECCA3;
}
#head{
    padding-top: 50px;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
}
.col1{
    
    padding-top: 100px;
}
img{
    
    height: 200px;
}
.col2{
    padding-top: 100px;
}